<div class="page-wrapper">

			<header class="header" id="profile-header">
				<div class="page-header">
					<h1>Profile <small>*Under Construction</small></h1>
					<h1> <%= @user.first_name %> <%= @user.last_name[0] %>. </h1>
				</div>
			</header>

			<div class="row">
				<div class="col-md-10" id="profile-header">
					<div class="col-md-3" id="profilePic-container">
							<!-- Will also have default shadow pic -->
						<img src="/assets/ProfilePic_placeholder.png">
					</div>
					<div class="col-md-8" id="infoContainer">
						<div id="user-infoPanel">
							<p>Words words words words words words words words. Words words words words. Words. Words words words words words words. Words words words words words words words words. Words words words words. Words. Words words words words words words. Words words words words words words words words. Words words words words. Words. Words words words words words words.</p>
							<ul>
								<li>Words: Words words</li>
								<li>Words: Words words</li>
								<li>Words: Words words</li>
								<li>Words: Words words</li>
							</ul>
						</div>
					</div>
				</div>
			</div>


			<!-- RAILS TEST SUBMISSION RENDER -->
			<div>
				<ul>
					<% @submissions = @user.submissions %>
					<% @submissions.each do |submission| %>
					<li><%= submission.title %></li>
					<% end %>
				</ul>
			</div>

			<a href="/users/<%= @user.id %>/submissions/new"><button class="btn btn-default">Add Story</button></a>


			<div class="row">
				<a href="/users/<%= @user.id %>/edit"><button class="btn btn-danger btn-block">Edit Profile</button></a>
			</div>



			<!-- TEST SECTION -->
			<!--
			//////////////////////////////////////////////////////////////////////////////
			//////////////////////////////////////////////////////////////////////////////
			-->

			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
			  ** Add File **
			</button>

			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
			    	<div class="modal-content">
			    		<div class="modal-header">
			        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        		<h4 class="modal-title" id="myModalLabel">Upload New File</h4>
			      		</div>
			      		<div class="modal-body">
			      			<div class="formContainer">
			      				<!-- FILE FORM -->
			      				<form method="POST" enctype="multipart/form-data">
			      					<div class="row">
			      						<input type="text" placeholder="Title" required>
			      					</div>
			      					<div class="row">
				      					<select class="selectpicker show-tick">
				      						<option>Word</option>
				      						<option>Diff Word</option>
				      						<option>Better Word</option>
				      						<option>Horrible Word</option>
				      						<option>Right Word</option>
				      						<option>Stupid Word</option>
				      					</select>
				      				</div>
				      				<div class="row">
			      						<!-- <textarea id=""></textarea> -->
			      					</div>
			      				</form>
			      				<!-- END FORM -->
			      			</div>
			      		</div>
			    		<div class="modal-footer">
			    			<p><small>* Note: all files uploaded by you are yours and cannot be used for any purpose except editing without your permission.
			        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        		<button type="button" class="btn btn-primary">Save changes</button>
			    		</div>
			    	</div>
				</div>
			</div>



			<!--
			//////////////////////////////////////////////////////////////////////////////
			//////////////////////////////////////////////////////////////////////////////
			-->
			<!-- END TEST -->


			<div class="button-group" role="group">
				<a href="/signup"><button type="button" class="btn btn-sm btn-success">Sign Up</button></a>
				<a href="/"><button type="button" class="btn btn-sm btn-info">Home</button></a>
				<a href="/fileTest"><button type="button" class="btn btn-sm btn-warning">Test File Page</button></a>
			</div>

			<hr>
				<!-- Profile Body -->
			<div class="col-md-12" id="profile-body">
				<div class="col-md-4">
					<div class="row">
						<div class="panel panel-warning">
							<div class="panel-heading">
								<h3>Edited</h3>
							</div>
							<div class="panel-body">
								<ul class="list-unstyled">
									<% submissions = @submissions %>
									<% @submissions.each do |submission| %>
										<% @edits = submission.edits %>
										<% @edits.each do |edit| %>
										<% @editor = edit.user %>
										<li>
											<div class="mock-page">
												<div class="mock-page">
													<ul class="list-unstyled">
														<li>
															<div class="edit-wrap">
																<h4> <%= submission.title %> <small> Edited by: <%= @editor.first_name %> <%= @editor.last_name[0] %>. </small></h4>
																<a href="/edits/<%= edit.id %>"><button class="btn btn-xs btn-info">See More...</button></a>
																<% edit.line_edits = edit.line_edits.truncate_words(50) %>
																<% line_edits = simple_format(edit.line_edits) %>
																<p> <%= line_edits %> </p>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</li>
										<% end %>
									<% end %>
								</ul>
							</div>
						</div>
					</div>





					<div class="row">
						<div class="panel panel-success">
							<div class="panel-heading">
								<h3>What You've Edited</h3>
							</div>
							<div class="panel-body">
								<ul class="list-unstyled">
									<!-- *** USER CREATED EDITS *** -->
									<% if @user_edits == !nil %>
										<% @user_edits.each do |edit| %>
										<% @sub = edit.submission || nil %>
										<% @author = @sub.user || nil %>
									<li>
										<div class="edit-wrap">
											<h4> <%= @sub.title %> <small>By: <%= @author.first_name %> <%= @author.last_name[0] %>. </small> </h4>
											<a href="/edits/<%= edit.id %>"><button class="btn btn-xs btn-info">See More...</button></a>
											<% edit.line_edits = edit.line_edits.truncate_words(50) %>
											<% line_edits = simple_format(edit.line_edits) %>
											<p> <%= line_edits %> </p>
										</div>
									</li>
										<% end %>
									<% else %>
									<li> <h4> Go Edit! </h4> </li>
									<li> <a href="/submissions">Stories</a> </li>
									<% end %>
								</ul>
							</div>
						</div>
					</div>
				</div>

	<!--
	//////////////////////////////////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////
	-->

				<!-- NEW RAILS RENDER FOR STORIES! -->
<!-- STORIES ARE RENDERED HERE!!!!! -->  <!-- STORIES ARE RENDERED HERE!!!!! -->

				<div class="col-md-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3>Your Stories</h3>
						</div>
						<div class="panel-body" id="story-background">
							<div class="col-md-10 col-md-offset-1">
								<ul class="list-unstyled">
									<% @submissions = @user.submissions %>
									<% submissions = @submissions.order("created_at DESC") %>
									<% submissions.each do |submission| %>
									<li>
										<div class="row">
											<!-- STORIES ARE RENDERED HERE!!!!! --> <!-- STORIES ARE RENDERED HERE!!!!! -->
											<div class="mock-page col-md-12">
												<h3> <%= submission.title %> </h3>
												<% submission.content = submission.content.truncate_words(100) %>
												<% content = simple_format(submission.content) %>
												<% if @user == @current_user %>
													<%= button_to "Delete", { action: "destroy", controller: "submissions", id: submission.id }, method: :delete, class: "btn btn-xs btn-danger", data: { confirm: "Are you sure?" } %>
												<% else %>
													<a href="/submissions/<%= submission.id %>/edits/new">
														<button class="btn btn-xs btn-default">Edit</button>
													</a>
												<% end %>
												<p> <%= content %> <a href="/submissions/<%= submission.id %>">Read More...</a></p>
											</div>
										</div>
									</li>
									<% end %>
								</ul>
							</div>
						</div>
					</div>
				</div>

		<!-- STORIES ARE RENDERED HERE ^ ^ !! -->  <!-- STORIES ARE RENDERED HERE ^ ^ !! -->

		<!--
		-STILL NEED TO TRUNCATE THE PAGES
		< submission.content.truncate_words(10) >
		//////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////
		-->

				<div class="col-md-2">
					<div class="panel panel-danger">
						<div class="panel-heading">
							<h3>Friends</h3>
						</div>
						<div class="panel-body">
							<ul class="list-unstyled">
								<li>
									<div class="row">
										<div id="media img-wrap">
											<img class="media-object img-thumbnail" id="minpro-pic" src="/assets/ProfilePic_placeholder.png" alt="/assets/ProfilePic_placeholder.png" height="64" width="64">
										</div>
										<div class="friend-username">
											<h4>Username</h4>
										</div>
									</div>
								</li>
								<li>
									<div class="row">
										<div id="media img-wrap">
											<img class="media-object img-thumbnail" id="minpro-pic" src="/assets/ProfilePic_placeholder.png" alt="/assets/ProfilePic_placeholder.png" height="64" width="64">
										</div>
										<div class="friend-username">
											<h4>Username</h4>
										</div>
									</div>
								</li>
								<li>
									<div class="row">
										<div id="media img-wrap">
											<img class="media-object img-thumbnail" id="minpro-pic" src="/assets/ProfilePic_placeholder.png" alt="/assets/ProfilePic_placeholder.png" height="64" width="64">
										</div>
										<div class="friend-username">
											<h4>Username</h4>
										</div>
									</div>
								</li>
								<li>
									<div class="row">
										<div id="media img-wrap">
											<img class="media-object img-thumbnail" id="minpro-pic" src="/assets/ProfilePic_placeholder.png" alt="/assets/ProfilePic_placeholder.png" height="64" width="64">
										</div>
										<div class="friend-username">
											<h4>Username</h4>
										</div>
									</div>
								</li>
								<li>
									<div class="row">
										<div id="media img-wrap">
											<img class="media-object img-thumbnail" id="minpro-pic" src="/assets/ProfilePic_placeholder.png" alt="/assets/ProfilePic_placeholder.png" height="64" width="64">
										</div>
										<div class="friend-username">
											<h4>Username</h4>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>






	<!-- Content -->

	<footer>
	</footer>
</div>
