<div class="page-wrapper">
   <header>
      <div class="page-header">
         <h1>Stories <small>list</small></h1>
      </div>
   </header>

   <div class="stories">
      <% @submissions.each do |submission| %>
      <div class="col-md-8 col-md-offset-2">
         <h3> <%= submission.title %> </h3>
         <% @author = User.find(submission.user_id) %>
         <p>By: <%= @author.first_name %> <%= @author.last_name[0] %>.</p>
         <div class="btn-group" role="group">
            <a href="/submissions/<%= submission.id %>/edits/new">
               <button class="btn btn-xs btn-default">Edit</button>
            </a>
         </div>
         <% submission.content = submission.content.truncate_words(100) %>
         <% content = simple_format(submission.content) %>
         <p> <%= content %><a href="/submissions/<%= submission.id %>"><small>(Read More...)</small></a></p>
      </div>
      <% end %>
   </div>

</div>
