<!-- RAILS UPLOAD TEST -->
<div class="row">
   <div class="col-md-6 col-md-offset-3">
      <h1>Rails File Upload <small>test</small></h1>
      <div class="col-md-8 col-md-offset-2">
         <%= form_for @submission, url: "/submissions", method: "post" do |f| %>
            <%= f.text_field :title, placeholder: "Title", class: "form-control" %>
            <%= f.select :genre, options_for_select(["Horror", "Science Fiction","Thriller"])   %>
            <%= f.text_area :content, rows: 80, placeholder: "Your story text here...." %>
            <%= f.text_area :summary, rows: 80, placeholder: "Summary text here...." %>

            <%= f.submit "Add Story", class: "btn btn-block" %>
         <% end %>
      </div>
   </div>
</div>
